<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

        <th:block th:fragment = "displayJobs" th:each = "job : ${jobs}">
            <table class="table"> <table class="job-listing">
                <td>
                    <p th:text = "${'ID: ' + job.id}">Job ID</p>
                    <p th:text = "${'Employer: ' + job.employer}">Job Employer</p>
                    <p th:text = "${'Location: ' + job.location}">Job Location</p>
                    <p th:text = "${'Position Type: ' + job.positionType}">Job Position Type</p>
                    <p th:text = "${'Skill: ' + job.coreCompetency}">Job Core Competency</p>
                </td>
            </table></table>
        </th:block>

</div>

</body>
</html>